# Ignore node_modules directory
node_modules
node_modules/
**/**/node_modules


#dependency directories
package-lock.json

# Ignore .env files
.env

# Ignore log files
*.log
/backend/error-logfile.log
/backend/logfile.log
